* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	padding: 10px;
	margin: 0 15px 20px 15px;
	border-bottom: solid 1px lightgray;
}

.block {
	display: block;
}

.tb-filters {
	text-align: center;
	margin-bottom: 5px;
	user-select: none;
}

.selected, .btn-tb:hover {
	color: rgb(1, 129, 1);
	transform: scale(1.1);
}

.selected.btn-tb-blue, .btn-tb:hover.btn-tb-blue {
	color: blue;
}

.tb-filters label {
	font-size: 12px;
	display: block;
}

#btn-add, .btn-tb, .btn-update, .btn-remove, .btn-description {
	cursor: pointer;
}

#btn-add, .btn-tb {
	font-size: 30px;
	display: block;
	text-align: center;
	user-select: none;
}

#btn-add:hover {
	color: green;
}

.btn-tb {
	display: inline-block;
}

.btn-update:hover {
	color: blue;
}

.btn-remove:hover {
	color: red;
}

.btn-description:hover {
	color: darkgoldenrod;
}

.tb-tickets {
	padding: 20px;
}

.tb-tickets tr td:last-child {
	text-align: center;
	user-select: none;
}

form {
	margin: 30px;
}

form label, .f-label {
	display: inline-block;
	margin: 5px 0 5px 5px;
	font-weight: bold;
}

form input, .f-input,
form select {
	display: block;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px lightgray;
	width: calc(100% - 30px);
}

form input:focus, .f-input:focus,
form select:focus {
	background-color: rgb(255, 255, 196);
}

form button {
	display: block;
	font-weight: bold;
	padding: 10px;
	margin: 10px auto;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
}

form button:hover {
	cursor: pointer;
	background-color: rgb(0, 190, 0);
}

form button:focus {
	transform: scale(0.9);
}


.login{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 10%;
	padding: 2%;
    background-color: #f8f9fa;
}

.login:hover{
	background-color: #c6c9cc;
}

.title{
	align-self: center;
	font-weight: bold;
	font-size: larger;
	color: black;

}

.title_views{
	background-color: #f8f9fa;
}

.img-group {
	text-align: center;
}

.hidden {
	display: none;
}

.show {
	animation: a-show 1s linear 0;
}

.captcha {
	align-items: center;
}

.captcha-input {
    width: 50%;
}

@media screen and (min-width: 767px) {
	form {
		text-align: center;
	}

	.f-group {
		display: inline-block;
		text-align: center;
		width: calc(50% - 30px);
	}

	.f-group.f-group-3 {
		width: calc(30% - 5px);
	}

	form label, .f-label {
		width: 100%;
		padding: 5px;
	}
}

@keyframes a-show {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(100%);
	}
}