
.descripcion{
    display: none;
}

#btn-login, #btn-ticket, #btn-admin {
	cursor: pointer;
    font-size: 30px;
	display: block;
	text-align: center;
	user-select: none;
}

#btn-login:hover, #btn-ticket:hover, #btn-admin:hover {
	color: green;
}

#btn-login:hover + .descripcion{
    display: block;
}   

#btn-ticket:hover + .descripcion{
    display: block;
}   


#btn-admin:hover + .descripcion{
    display: block;
}   

@media (max-width: 1000px) { 
    .navbar-collapse.collapse:not(.show) { 
        display: none !important; } 
    }